body{
	/* background-color: #b3b3b3; */
	background-color: #5c5470;
	color:#dbd8e3;
}

img{
	border: 1px solid black;
}

#container{
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	/* background:#DCDCDC;  */
	background:#2a2438; 
	/* height:100%;  */
	height:800px;
	width:95%;
	border-radius: 8px;
	box-shadow:0 0 10px #dbd8e3;
}

#clear{
	clear:both;
}

#card{
	float: left;
	margin-left: 5px;
}

.player{
	float: left;
	padding:10px;
	/* border: 1px dotted blue; */
	margin-left:5px;
	margin-bottom:9px;
	width:48%;
	height:200px;
	/* background-color: #cdcdcd; */
	background-color: #352f44;
	border-radius: 8px;
}

table{
	/* border: 1px solid black; */
	margin-bottom:10px;
	text-align:center;
	padding:5px;
	border: 1px solid black;
	border-collapse: collapse;
	font-size:18px;
}

#points{
	text-align: center;
}

#show_colors {
	height:20%;
}


#musik{
	float: left;
	padding:5px;
	/* border: 1px dotted blue; */
	margin:3px;
	width:30%;
	height:220px;
}

.button {
	/* background-color: #b3b3b3; */
	background:#dbd8e3;
	border: none;
	color: black;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	border-radius:4px;
}

.button:hover{
	/* background-color: #8c8d8d; */
	background-color: #c4c1e0;
	border: none;
	color: black;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	border-radius:4px;
}

.table { 
	float:left;
	width:52%;
	height:322px;
	margin-left:auto;
	margin-right:auto;
	margin-top:7px;
	margin-bottom:10px;
	background-image: url("image/table.jpg");
	border-radius: 10px;
 }

.table #cards {
	width: 70%;
	height: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	padding:40px;
}

.table img {
	margin:20px;
}

.statistic {
	margin:30px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.static table, td, th {
	border: 1px solid;
	padding:2px;
}

.statistic table {
	width:46%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-collapse: collapse;
	float: right;
	padding:10px;
}

#title {
	padding:10px;
	width:35%;
	margin-left:auto;
	margin-right:auto;
}

.play_cards {
	width:290px;
	height:280px;
	margin:auto;
	padding:20px;
}

.play_cards img {
	float: left;
	margin-left:35px;
	margin-top:5px;
	margin-bottom:5px;
}

#panel1 {
	padding:20px;
	margin-top:7px;
	margin-left:17px;
	margin-right:10px;
	width: 20%;
	height: 280px;
	border: 1px solid;
	float:left;
	background-color: #352f44;
	border-radius: 8px;
}

#panel2 {
	padding:20px;
	margin-top:7px;
	margin-left:11px;
	margin-right:10px;
	width: 20%;
	height: 280px;
	border: 1px solid;
	float:left;
	background-color: #352f44;
	border-radius: 8px;
}