body{
	/* background-color: #b3b3b3; */
	background-color: #5c5470;
	color:#dbd8e3;
}

img{
	border: 1px solid black;
}

#container{
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	/* background:#DCDCDC;  */
	background:#2a2438; 
	/* height:100%;  */
	height:800px;
	width:95%;
	border-radius: 8px;
}

#clear{
	clear:both;
}

#card{
	float: left;
	margin-left: 5px;
}

.player{
	float: left;
	padding:10px;
	/* border: 1px dotted blue; */
	margin:3px;
	width:46%;
	height:200px;
	/* background-color: #cdcdcd; */
	background-color: #352f44;
	border-radius: 8px;
}

table{
	/* border: 1px solid black; */
	margin-bottom:10px;
}

tr{
	padding:10px;
}

#points{
	text-align: center;
}

#show_colors {
	height:20%;
}


#musik{
	float: left;
	padding:5px;
	/* border: 1px dotted blue; */
	margin:3px;
	width:30%;
	height:220px;
}

.button {
	/* background-color: #b3b3b3; */
	background:#dbd8e3;
	border: none;
	color: black;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	border-radius:4px;
}

.button:hover{
	/* background-color: #8c8d8d; */
	background-color: #c4c1e0;
	border: none;
	color: black;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	cursor: pointer;
	border-radius:4px;
}

.table {
	width:55%;
	height:250px;
	margin-left:auto;
	margin-right:auto;
	background-image: url("image/table.jpg");
	margin-top:13.5%;
	border-radius: 10px;
	padding:30px;
}

.table #cards {
	width: 50%;
	height: 70%;
	margin-left:auto;
	margin-right:auto;
}

.statistic {
	margin:30px;
	width:50%;
	margin-left:auto;
	margin-right:auto;
}

.static table, td, th {
	border: 1px solid;
	padding:2px;
}

.statistic table {
	width:46%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-collapse: collapse;
	float: right;
	padding:10px;
}

#title {
	float: left;
	padding:10px;
	width:35%;
}