<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<h1><center>{{ app_name }}</center></h1>
<div id="container">
{% for player in game.players: %}
	<fieldset id="player">
	<div id="show_colors">
			{% if player.array_colors[0] == 1 %}
				<img src="/static/image/trefl.jpg" width="23" height="23">
			{% endif %}
			{% if player.array_colors[1] == 1 %}
				<img src="/static/image/pik.jpg" width="23" height="23">
			{% endif %}
			{% if player.array_colors[2] == 1 %}
				<img src="/static/image/kier.jpg" width="23" height="23">
			{% endif %}
			{% if player.array_colors[3] == 1 %}
				<img src="/static/image/karo.jpg" width="23" height="23">
			{% endif %}
			{% if game.master_player %}
				{% if player.name == game.master_player.name %}
					<img style="float:right;" src="/static/image/star.jpg" width="23" height="23">
				{% endif %}
			{% endif %}
	</div>
		<legend>{{ player.name}}</legend>
		{% for card in player.cards: %}
			<div id="card">
				<img src="/static/image/{{card.name}}_{{card.color}}.jpg" width="82" height="126"> <br>
			</div>
		{% endfor %}
		 {{player.auction}}
		<div id="clear"></div>
	</fieldset>
{% endfor %}
<div class="table">
		{% if game.musik|length > 0 %}
			<div id="cards">
				{% for card in game.musik: %}
						<!-- <img src="/static/image/{{card.name}}_{{card.color}}.jpg" width="82" height="126"> -->
						<img src="/static/image/tyl.jpg" width="82" height="126">
				{% endfor %}
			</div>
				<div id="clear"></div>
<!-- 				<div>
					<span>Licytację wygrywa: {{game.players[game.max_auction_id[0]]}}, współczynnik: {{game.players[game.max_auction_id[0]].auction}}</span><br>
					<a href="{{ url_for('take_musik') }}" class="button"> Daj musik </a>
				</div> -->

		{% endif %}
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>



	