<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="title">
	<h3><center>{{ app_name }}</center></h3>
	<span id="master_id" style="display:none">{{ game.players[game.max_auction_id[0]].ID +1 }}</spand>
</div>
<div class="statistic">
	<table>
	  <tr>
		<th>&nbsp;</th	>
		{% for player in game.players: %}
		<th>{{player.name}}</th>
		{% endfor %}
	  </tr>
	  <tr>
		<td>Współczynnik</td>
		{% for player in game.players: %}
		<td>{{player.auction}}</td>
		{% endfor %}
	  </tr>
	  <tr>
		<td>Punkty</td>
		{% for player in game.players: %}
		<td>{{ player.match_points }}</td>
		{% endfor %}
	   </tr>
	   <tr>
		<td>Punktacja ogólna</td>
		{% for player in game.players: %}
		<td>{{ player.win_points }}</td>
		{% endfor %}
	   </tr>
	</table>
	<table>
		<caption>Rozgrywka {% if game.moves and game.moves > 0 %} nr: {{ game.moves }} {% endif %}</caption>
		<tr>
			<th>Rozgrywający</th>
			<th>Meldunek</th>
			<th>Ugrano</th>
			<th>Licytacja gracza</th>
		</tr>
		<tr>
			<td>{% if game.master_player and game.master_player != None %} {{ game.master_player }} {% endif %}</td>

			<td>
				{% if game.check_in %}
					{% if game.check_in[0] == 1 %}
							<img src="/static/image/trefl.jpg" width="23" height="23">
					{% endif %}
					{% if game.check_in[1] == 1 %}
						<img src="/static/image/pik.jpg" width="23" height="23">
					{% endif %}
					{% if game.check_in[2] == 1 %}
						<img src="/static/image/kier.jpg" width="23" height="23">
					{% endif %}
					{% if game.check_in[3] == 1 %}
						<img src="/static/image/karo.jpg" width="23" height="23">
					{% endif %}
				{% endif %}
			</td>
			<td>{{ game.master_player.match_points }}</td>
			<td>
				{{ game.licit_val }}
			</td>
		</tr>
	</table>
</div>
<div id="clear"></div>
<div id="cut">
	<div id="container">
		{% for player in game.players: %}
			<fieldset class="player" id="id_{{player.ID}}">
			<div id="show_colors">
					{% if player.array_colors[0] == 1 %}
						<img src="/static/image/trefl.jpg" width="23" height="23">
					{% endif %}
					{% if player.array_colors[1] == 1 %}
						<img src="/static/image/pik.jpg" width="23" height="23">
					{% endif %}
					{% if player.array_colors[2] == 1 %}
						<img src="/static/image/kier.jpg" width="23" height="23">
					{% endif %}
					{% if player.array_colors[3] == 1 %}
						<img src="/static/image/karo.jpg" width="23" height="23">
					{% endif %}
			</div>
				<legend>#{{player.ID +1}} {{ player.name}} </legend>
				<div id="hand{{player.ID}}" style="margin-left:auto, margin-right:auto; display:flex; justify-content: center;">
					{% for card in player.cards: %}
						<div id="card">
							<img src="/static/image/{{card.name}}_{{card.color}}.jpg" width="82" height="126" id="{{card.id}}" onclick = "tap_card({{card.id}})"> <br>
						</div>
					{% endfor %}
					 <!-- {{player.auction}} -->
					<div id="clear"></div>
				</div>
			</fieldset>
		{% endfor %}
		<div class="table" id="tb">
				{% if game.musik|length > 0 %}
					<div id="cards">
						{% for card in game.musik: %}
								<img src="/static/image/{{card.name}}_{{card.color}}.jpg" width="82" height="126">
								<!-- <img src="/static/image/tyl.jpg" width="82" height="126"> -->
						{% endfor %}
					</div>
						<div id="clear"></div>
				{% endif %}
				{% if game.play_cards and game.moves < 7 %}
					{% for card in game.play_cards: %}
								<img src="/static/image/{{card.name}}_{{card.color}}.jpg" width="82" height="126">
					{% endfor %}
				{% endif %}
				
		</div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>



	