{% extends 'base.html' %}
{% block body %}
<!-- 	<div style="width:20%; margin-left:auto; margin-right:auto; margin-top:20%;">
		<p> Wystąpił błąd, nastąpi ponowne rozdanie kart. </p>
		<form action="/" method = "POST">
			<input type = "text" name = "name" value="new" style="display:none;"/>
			<p><input type = "submit" value = "Ok" /></p>
		</form>
	</div> -->
	<style>
		#button:hover{
			background-color: #c4c1e0;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<script>
	errorAlert();
	
	</script>
{% endblock %}