{% extends 'base.html' %}

{% block body %}

	<div style="width:65%; margin-left:auto; margin-right:auto; margin-top:40px;">
		{% for card in cards: %}
		<img src="/static/image/{{card.name}}_{{card.color}}.jpg">
		{% endfor %}
	</div>
	
	 <form id="form">
        <input type="text" id="input" name="input">
        <button type="button" onclick="submitForm()">Submit</button>
    </form>
    <div id="output"></div>
	
	
	
	<div style="background-color:white; width:100px; height:80px;">
		{% for name in game.players_name: %}
			{{ name }}
		{% endfor %}
	</div>
	<script>
		function submitForm() {
			var input = document.getElementById("input").value;

			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/process", true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4 && xhr.status === 200) {
					var json = JSON.parse(xhr.responseText);
					document.getElementById("output").innerHTML = json.output;
				}
			};
			var data = JSON.stringify({"input": input});
			xhr.send(data);
		}
	</script>
{% endblock %}
